<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="text-center">
        <h1 class="h2 mt-4 mb-4">Tableau de bord administrateur</h1>
    </div>
        <div class="sidebar">
            <a href="/login" class="btn btn-doc">Home</a>
            <a href="/login/adminPanel/addCours" class="btn btn-doc">Ajouter un cours</a>
            <a href="/login/adminPanel/addEtudiant" class="btn btn-doc">Ajouter un etudiant</a>
            <a href="/logout" class="btn btn-danger">Deconnection</a>
        </div>
        <div class="page-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque cumque eius, esse laboriosam
                nam natus optio quis, quo ratione recusandae, sit? Dolor explicabo inventore iste praesentium, rerum
                sint temporibus.</p>
            <p>Aliquid cupiditate, delectus dicta dolorum eaque enim eos error et fugit ipsa ipsum laboriosam laborum
                magnam magni minus molestias nihil, nisi optio quae quaerat quia ratione ut vel velit voluptatum.</p>
            <p>A nulla praesentium sed. Asperiores aut cum dolore eligendi, facilis nostrum numquam veniam. Ad aliquam,
                delectus doloribus est, et ex exercitationem iste molestiae, neque nobis perferendis possimus saepe
                similique unde!</p>
            <p>Accusamus amet aspernatur at debitis dicta distinctio dolores eaque error eum explicabo fuga, fugit hic
                inventore maiores maxime modi nobis nostrum odio odit perferendis perspiciatis quae quaerat quisquam
                suscipit temporibus?</p>
            <p>Asperiores aspernatur fugit illum libero nisi unde vel veniam. Accusamus, architecto eligendi et magnam
                nostrum perspiciatis quod unde? Deserunt dicta facere magni minima nemo odit quo ratione. Odio,
                perferendis, praesentium?</p>
            <p>A assumenda blanditiis deleniti dolorem eius enim explicabo ipsa, ipsum itaque nemo neque non obcaecati
                optio porro quae quasi quidem quos reprehenderit rerum similique, soluta vel velit vitae. Quidem,
                repudiandae.</p>
            <p>Alias aliquid commodi, deserunt dignissimos et explicabo illo ipsa laudantium libero, minus nulla officia
                perferendis praesentium quae qui repudiandae sed sequi sint, soluta tempora tempore totam veritatis?
                Rem, sit, tempore?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eius esse exercitationem expedita
                facere id laborum laudantium libero, molestias nam perspiciatis placeat porro provident quae quos sit
                tempora. Earum, ex.</p>
            <p>Aperiam at delectus maiores repellendus temporibus! Perspiciatis, reprehenderit, veritatis! Autem
                delectus deserunt dolore ex hic ipsam libero modi natus nemo neque nesciunt quasi quisquam quod
                recusandae saepe sequi, temporibus veritatis.</p>
            <p>Beatae odio odit placeat quae quisquam soluta. Ab alias consectetur cupiditate eum explicabo incidunt,
                ipsa nam natus, nostrum omnis porro quae quaerat repellat tempora velit vitae voluptatum? Fuga,
                laboriosam, obcaecati?</p>
        </div>
</div>
</html>