<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="text-sm-center">
        <h1 class="h2 mt-4">Contenue du panier</h1>
        <h2 class="h3 mt-4" th:if="${session.panier.getListe().size() eq 0}">Desoler le panier est vide</h2>
        <div class="row">
            <div class="col col-sm-4" th:each="cours : ${session.panier.getListe()}">
                    <div class="card mt-5">
                        <div class="card-header">
                            <h1 class="card-title h4">Info sur le cours</h1>
                            <h2 class="card-subtitle h5 text-muted">Numero du cours:
                                <span th:text="${cours.numero}">N/A</span></h2>
                        </div>
                    <div class="card-body infoCours">
                        <p class="card-text"><strong>Nom du cours:</strong> <span th:text="${cours.intituler}">N/A</span></p>
                        <p class="card-text"><strong>Donne:</strong> <span th:text="${cours.nombreCredit}">N/A</span> credits</p>
                        <p class="card-text"><strong>Duree:</strong> <span th:text="${cours.session}">N/A</span> sessions</p>
                        <a th:href="@{/panier/supprimer/{id}(id=${cours.numero})}" class="btn btn-danger"
                           onclick="return confirm('Voulez-vous vraiment supprimer ce cours?')">Supprimer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5 mb-5">
        <a href="/validation"><input class="btn btn-links me-2" type="button" value="Valider mes choix"></a>
        <a href="/liste"><input class="btn btn-links me-2" type="button" value="Choix de cours"></a>
        <a href="/"><input class="btn btn-links ms-2" type="button" value="Retour a l'accueil"></a>
        <a href="/viderPanier"><input class="btn btn-links ms-2" type="button" value="Vider le panier"
                                      onclick="return confirm('Voulez-vous vraiment supprimer le contenue du panier?')"></a>
    </div>
</div>
</body>
</html>