<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="text-center mt-4">
        <h1> Page d’erreur</h1>
        <h2>Attention, une erreur s’est produite dans la ressource demandée. Veuillez contacter le support
            technique. </h2>
<!--        <div>-->
    <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
        <a href="/">Retourner à l'accueil</a>
        <p>Code d'erreur: <span th:text="${httpStatus}"></span></p>
<!--        <p>Code d'erreur: <span th:text="${model.message}.valueOf(#response.status)"></span></p>-->

        <p> L'URL source d'erreur : <span th:text="${model.url}"></span></p>
        <p>Le message d'erreur :<span th:text="${model.exception.message}"></span></p>
        <p>Le contrôleur source: <span th:text="${model.exception.stackTrace[0].className}"></span></p>
        <p>la méthode source: <span th:text="${model.exception.stackTrace[0].methodName}"></span></p>
        <p>Le numéro de ligne :<span th:text="${model.exception.stackTrace[0].lineNumber}"></span></p>
    </div>

</div>
</div>
</html>