<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" th:decorate="layouts/_layout">-->
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout">

<div layout:fragment="content">
    <div class="text-sm-center">
        <h1 class="h2 mt-4 mb-5">Bienvenue sur notre site d'inscription de cours en ligne</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title h5 mb-4">Venez apprendre avec nous</h1>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Assumenda beatae
                            cum cupiditate
                            dignissimos
                            doloribus
                            facere in modi molestias neque non nostrum odit quaerat quasi quia, quibusdam saepe, vitae!
                            Dolore,
                            voluptates.</p>
                        <p class="card-text ">Aperiam, aspernatur assumenda at eligendi et id, illum inventore labore
                            laborum nesciunt
                            nobis
                            non
                            sequi
                            veniam!
                            Aperiam, debitis ex explicabo fuga ipsam iusto nesciunt officiis quo quos temporibus
                            veritatis
                            voluptates?</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title h5 mb-4">Nos services</h1>
                        <p class="card-text">Aliquid animi, at consequuntur distinctio dolores et expedita id in,
                            incidunt ipsa itaque neque
                            non
                            odit
                            pariatur
                            placeat porro praesentium quam qui quisquam soluta sunt suscipit tempore ut veniam
                            voluptate!</p>
                        <p class="card-text">Ab accusamus adipisci alias aut beatae cupiditate deleniti dicta
                            dignissimos dolor dolorem
                            doloremque
                            ducimus
                            excepturi expedita explicabo hic illo iste iure porro reiciendis repellat repellendus sit,
                            temporibus
                            unde
                            vel
                            velit.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title h5 mb-4">Notre mission</h1>
                        <p class="card-text">Amet animi at aut cum distinctio dolores, earum eos iure iusto minima
                            modi nam odit perspiciatis
                            porro
                            quae
                            quaerat quia quidem quisquam quod sit soluta, tempora tenetur unde vel voluptatem.</p>
                        <p class="card-text">Animi asperiores, assumenda autem blanditiis consectetur cupiditate,
                            expedita harum ipsum labore
                            laboriosam
                            placeat possimus quidem sapiente vel veritatis. Aut dicta eum expedita fugiat illo iusto
                            molestias
                            nihil
                            quam
                            recusandae unde.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-content">
            <p>Alias at atque blanditiis commodi deserunt ducimus eius enim esse eum fugit id illo ipsa iusto magnam
                magni
                maxime nesciunt nihil obcaecati, placeat quam quasi reiciendis sequi temporibus veniam vitae?
                Adipisci aliquam amet ducimus facilis, id laboriosam laudantium necessitatibus neque quasi quo repellat
                sit
                totam. Exercitationem natus quas ratione repellendus vel. Amet aspernatur incidunt minima natus, odit
                quo
                similique veniam.</p>
            <p>Consectetur debitis dolorem error est harum illum libero omnis possimus quasi quibusdam, tempora, velit.
                Accusantium, amet consectetur fuga labore magnam magni, maiores molestiae nesciunt odit officiis quae
                quasi
                quo
                voluptate.
                Accusamus ad aliquid culpa fugiat libero minima, nostrum placeat sapiente tenetur. Ab, adipisci
                asperiores
                aspernatur corporis delectus, dignissimos expedita labore laboriosam laborum laudantium modi officia
                provident
                qui quod sapiente tenetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio doloremque dolores,
                dolorum eaque esse eum, excepturi illo in itaque nesciunt porro quaerat reiciendis repellendus tempora
                ullam vitae voluptates voluptatibus!
                Animi asperiores aspernatur deleniti fuga inventore minus molestias nemo nesciunt nihil placeat saepe
                sunt, temporibus unde ut veniam? Ad atque deserunt eaque incidunt ipsum officia porro possimus
                reiciendis tempore tenetur.</p>
            <p>Animi commodi cumque debitis delectus distinctio dolore ea earum eligendi et eum, excepturi id labore
                magni, maiores numquam omnis qui quo quos recusandae, sequi unde veritatis vitae voluptate voluptatem
                voluptates.
                Beatae consequuntur, eligendi minus quae ullam vero. Aliquam, architecto at blanditiis commodi
                consequuntur ducimus eaque fugit laborum maxime neque nulla quidem ratione, sit soluta temporibus ullam
                veritatis voluptate voluptatem voluptatibus!</p>
            <p>Animi at aut culpa deleniti laborum libero necessitatibus quae quis, sapiente soluta ullam, vero voluptas
                voluptatem? Autem error iusto minus nisi numquam officiis, quas! Culpa harum laboriosam maxime omnis
                quas.</p>
            <p>Adipisci, dolorum sit! Aliquid, aperiam asperiores consequatur doloremque enim eos et illo ipsa
                laboriosam obcaecati odio officiis quae tempore totam ut velit, voluptatibus, voluptatum! Aliquid
                facilis ipsam iure maxime reprehenderit!</p>
            <p>Animi consectetur est excepturi ipsum iste nihil quos tempora temporibus vitae. Adipisci aperiam
                assumenda aut delectus dignissimos eius ex facere maiores minus, nam nesciunt reiciendis, rerum sapiente
                similique suscipit voluptas!
                Ad, aut deserunt ducimus earum eius enim explicabo fugit hic itaque laudantium modi molestias nisi nulla
                obcaecati officia placeat possimus quam quos repellendus sed sunt tenetur unde ut voluptate
                voluptatum?</p>
            <p>Animi, at aut beatae culpa distinctio dolorem ea explicabo harum impedit ipsam, iure labore minus neque
                sapiente soluta vel, voluptas. Consequuntur dicta ea eveniet id ipsam nam officiis recusandae vero?
                Culpa dolores dolorum error placeat quam sed tempore! Blanditiis, deserunt ducimus eaque eos esse ex
                exercitationem illum impedit ipsum libero obcaecati perspiciatis praesentium quas quasi quisquam,
                ratione, recusandae rerum voluptas!</p>
        </div>
    </div>
</div>
</html>