<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout">

<body>
<div layout:fragment="content">
    <h2>Bienvenue sur notre site d'inscription de cours en ligne</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda beatae cum cupiditate dignissimos doloribus
        facere in modi molestias neque non nostrum odit quaerat quasi quia, quibusdam saepe, vitae! Dolore,
        voluptates.</p>
    <p>Aperiam, aspernatur assumenda at eligendi et id, illum inventore labore laborum nesciunt nobis non sequi veniam!
        Aperiam, debitis ex explicabo fuga ipsam iusto nesciunt officiis quo quos temporibus veritatis voluptates?</p>
    <p>Aliquid animi, at consequuntur distinctio dolores et expedita id in, incidunt ipsa itaque neque non odit pariatur
        placeat porro praesentium quam qui quisquam soluta sunt suscipit tempore ut veniam voluptate!</p>
    <p>Ab accusamus adipisci alias aut beatae cupiditate deleniti dicta dignissimos dolor dolorem doloremque ducimus
        excepturi expedita explicabo hic illo iste iure porro reiciendis repellat repellendus sit, temporibus unde vel
        velit.</p>
    <p>Amet animi at aut cum distinctio dolores, earum eos iure iusto minima modi nam odit perspiciatis porro quae
        quaerat quia quidem quisquam quod sit soluta, tempora tenetur unde vel voluptatem.</p>
    <p>Animi asperiores, assumenda autem blanditiis consectetur cupiditate, expedita harum ipsum labore laboriosam
        placeat possimus quidem sapiente vel veritatis. Aut dicta eum expedita fugiat illo iusto molestias nihil quam
        recusandae unde.</p>
    <p>Alias at atque blanditiis commodi deserunt ducimus eius enim esse eum fugit id illo ipsa iusto magnam magni
        maxime nesciunt nihil obcaecati, placeat quam quasi reiciendis sequi temporibus veniam vitae?</p>
    <p>Adipisci aliquam amet ducimus facilis, id laboriosam laudantium necessitatibus neque quasi quo repellat sit
        totam. Exercitationem natus quas ratione repellendus vel. Amet aspernatur incidunt minima natus, odit quo
        similique veniam.</p>
    <p>Consectetur debitis dolorem error est harum illum libero omnis possimus quasi quibusdam, tempora, velit.
        Accusantium, amet consectetur fuga labore magnam magni, maiores molestiae nesciunt odit officiis quae quasi quo
        voluptate.</p>
    <p>Accusamus ad aliquid culpa fugiat libero minima, nostrum placeat sapiente tenetur. Ab, adipisci asperiores
        aspernatur corporis delectus, dignissimos expedita labore laboriosam laborum laudantium modi officia provident
        qui quod sapiente tenetur.</p>
</div>
</body>
</html>